* {
  box-sizing: border-box;
  font-family: "Muli", sans-serif;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}

/* navbar */
.navbar {
  position: fixed;
  z-index: 99;
}

.navbar .contact-bar {
  height: 1.75rem;
  width: 100vw;
  background-color: #fff;
  padding: 0.375rem 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navbar .contact-bar .contact-bar-container .phone-bar {
  font-weight: 400;
  font-size: 1rem;
  color: #303030;
  display: flex;
  align-items: center;
}
.navbar .contact-bar .contact-bar-container .phone-bar .phone-text {
  margin-right: 0;
}
.navbar .contact-bar .contact-bar-container .phone-bar .phone-text a {
  color: #000;
  text-decoration: none;
  font-size: 0.8rem;
}
.navbar .contact-bar .contact-bar-container .phone-bar .line-seperator {
  width: 1.2rem;
  font-size: 0.8rem;
}
@media only screen and (max-width: 400px) {
  .navbar .contact-bar .contact-bar-container .phone-bar .line-seperator {
    width: 0.8rem;
  }
}

.navbar .navbar-container {
  text-transform: uppercase;
  border-bottom: 0.0667rem solid #efefef;
  background-color: #fff;
  width: 100vw;
  height: 3.6rem;
  line-height: 4rem;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);
}

nav ul li {
  transition: background-color 0.3s;
  float: left;
  padding: 0;
}

.navbar .navbar-container .nav-wrapper {
  position: relative;
}
nav .nav-wrapper {
  position: relative;
  height: 100%;
}
.navbar .navbar-container .sidebar-trigger {
  margin-left: 1.1rem;
  margin-top: 0.9rem;
  width: 1.75rem;
  padding-bottom: 1.6rem;
}
nav .sidenav-trigger {
  float: left;
  position: relative;
  z-index: 1;
  height: 56px;
  margin: 0 18px;
}
.navbar .navbar-container .nav-wrapper .logo {
  margin-left: 4rem;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  top: 1px;
  color: #fff;
  padding: 0;
}
.logo {
  float: left !important;
}

.navbar .navbar-container ul li {
  font-weight: 700;
  text-transform: capitalize;
}

.navbar .navbar-container .nav-wrapper .logo .logo-pc {
  display: block;
  background: transparent;
  border: none;
  padding: 0;
}
.navbar .navbar-container .nav-wrapper .logo .logo-mobile {
  display: none;
  background: transparent;
  border: none;
  padding: 0;
}

.navbar .navbar-container .nav-wrapper .logo .logo-pc .nav-logo-pc {
  display: block;
  height: 4rem;
  padding: 5px;
}
.navbar .navbar-container .nav-wrapper .logo .logo-mobile .nav-logo-mobile {
  display: none;
}

@media only screen and (max-width: 61.9375rem) {
  .navbar .navbar-container .nav-wrapper .logo .logo-pc .nav-logo-pc {
    display: none;
  }
}
@media only screen and (max-width: 61.9375rem) {
  .navbar .navbar-container .nav-wrapper .logo .logo-mobile .nav-logo-mobile {
    display: block;
    height: 2.5rem;
  }
}

@media only screen and (max-width: 61.9375rem) {
  .navbar .navbar-container .nav-wrapper .logo .logo-mobile {
    display: block;
  }
}

@media only screen and (max-width: 61.9375rem) {
  .navbar .navbar-container .nav-wrapper .logo .logo-pc {
    display: none;
  }
}

@media only screen and (max-width: 50rem) {
  .navbar .navbar-container {
    margin-top: -0.1rem;
  }
}
@media only screen and (min-width: 37.5625rem) {
  .navbar .navbar-container {
    height: 3.6rem;
    line-height: 4rem;
  }
}
@media only screen and (min-width: 601px) {
  nav {
    height: 64px;
    line-height: 64px;
  }
}

.navbar .navbar-container .nav-wrapper #nav-1 {
  display: flex;
  align-items: stretch;
  position: absolute;
  left: 19rem;
  top: 0;
}
/* .navbar .navbar-container .nav-wrapper #nav-1 #partner {
  display: none;
} */

@media (max-width: 1440px) {
  .navbar .navbar-container .nav-wrapper #nav-1 #partner {
    display: none;
  }
}
@media (max-width: 1140px) {
  .navbar .navbar-container .nav-wrapper #nav-1 #offer {
    display: none;
  }
}
@media (max-width: 995px) {
  .navbar .navbar-container .nav-wrapper #nav-2 {
    margin-top: 15px;
  }
}

@media only screen and (max-width: 73.75rem) {
  .navbar .navbar-container .nav-wrapper #nav-1 {
    left: 19rem;
  }
}

@media only screen and (max-width: 93.75rem) {
  .navbar .navbar-container .nav-wrapper #nav-1 li:not(:last-child) {
    margin-right: 2rem;
  }
}

@media only screen and (max-width: 84.375rem) {
  .navbar .navbar-container .nav-wrapper #nav-1 li:not(:last-child) {
    margin-right: 1rem;
  }
}

@media only screen and (max-width: 78.125rem) {
  .navbar .navbar-container .nav-wrapper #nav-1 li:not(:last-child) {
    margin-right: 0.5rem;
  }
}

@media only screen and (max-width: 75rem) {
  .navbar .navbar-container .nav-wrapper #nav-1 li:not(:last-child) {
    margin-right: 0.25rem;
  }
}

@media only screen and (max-width: 73.75rem) {
  .navbar .navbar-container .nav-wrapper #nav-1 li:not(:last-child) {
    margin-right: 0rem;
  }
}

@media only screen and (max-width: 992px) {
  .tablet-hide {
    display: none !important;
  }
}

.navbar .navbar-container .nav-wrapper #nav-1 li a,
.navbar .navbar-container .nav-wrapper #nav-1 li button {
  color: #303030 !important;
  font-weight: 600;
  font-size: 0.89rem !important;
  text-transform: initial;
  padding-left: 1rem;
  padding-right: 1rem;
}
.navbar .navbar-container .nav-wrapper #nav-1 li button {
  background: transparent;
  border: none;
  height: 100%;
}
.navbar .navbar-container .nav-wrapper #nav-1 li button:hover {
  background: #fedb72;
}
a {
  text-decoration: none;
}
.navbar .navbar-container ul li a:hover {
  background-color: #fedb72;
}

nav ul a {
  transition: background-color 0.3s;
  font-size: 1rem;
  color: #fff;
  display: block;
  padding: 0 15px;
  cursor: pointer;
}
.trigger-rotate .rotate {
  transition: transform 0.4s ease-in-out;
}

.trigger-rotate:hover .rotate {
  transform: rotate(180deg);
}

.navbar .navbar-container ul li .rbx-img-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}

.navbar .navbar-container ul li .rbx-img-container img {
  height: 2.35rem;
  width: auto;
  margin-top: 0.5rem;
}
img.rbx-img {
  max-width: 100%;
  height: auto;
}
.dropdown-trigger {
  display: flex;
  flex: initial !important;
  align-items: center;
  cursor: pointer;
}
.dropdown-content {
  background-color: #fff;
  margin: 0;
  display: block !important;
  width: 100%;
  overflow-y: auto;
  opacity: 0;
  position: absolute !important;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  top: 58px;
  z-index: 999;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
.navbar .navbar-container .nav-wrapper #nav-1 li a.dropdown-item {
  padding-left: 25px;
  padding-right: 25px;
}
#trigger-whats-new {
  position: relative;
}

#dropdown-whats-new {
  left: 0;
}

#partner {
  position: relative;
}

#dropdown-partner {
  left: 0;
}

.dropdown-content li {
  clear: both;
  color: rgba(0, 0, 0, 0.87);
  cursor: pointer;
  min-height: 50px;
  line-height: 1.5rem;
  width: 100%;
  text-align: left;
}
.dropdown-content li:hover,
.dropdown-content li.active {
  background-color: #eee;
}

.dropdown-content li > a,
.dropdown-content li > span {
  font-size: 16px;
  color: #fed250;
  display: block;
  line-height: 22px;
  padding: 14px 16px;
}

@media only screen and (max-width: 1100px) {
  .navbar .navbar-container .nav-wrapper #nav-1 .offer-hide {
    display: none;
  }
}

.navbar .navbar-container .nav-wrapper #nav-2 {
  margin-right: 1rem;
}
.right {
  float: right !important;
}

@media only screen and (max-width: 61.9375rem) {
  .navbar .navbar-container .nav-wrapper #nav-2 li:not(:last-child) {
    margin-right: 0rem;
  }
}

@media screen and (max-width: 1440px) {
  .navbar .navbar-container .nav-wrapper #nav-2 .btn-flat {
    padding: 0rem 2rem;
  }
}
@media screen and (max-width: 1366px) {
  .navbar .navbar-container .nav-wrapper #nav-2 .btn-flat {
    padding: 0rem 2rem;
  }
}
@media screen and (max-width: 460px) {
  .navbar .navbar-container .nav-wrapper #nav-2 .btn-flat {
    padding: 0rem 2rem;
    max-width: 12rem;
  }
}
@media screen and (max-width: 400px) {
  .navbar .navbar-container .nav-wrapper #nav-2 .btn-flat {
    height: 2.5rem;
  }
}
@media only screen and (max-width: 28.125rem) {
  .navbar .navbar-container .nav-wrapper #nav-2 .btn-flat {
    padding: 0 2rem;
  }
}
@media screen and (max-width: 380px) {
  .navbar .navbar-container .nav-wrapper #nav-2 .btn-flat {
    margin-right: 30px;
  }
}

.navbar .navbar-container .nav-wrapper #nav-2 .btn-flat:hover {
  background-color: #fedb72;
}

.navbar .navbar-container .nav-wrapper #nav-2 .btn-flat {
  background-color: #fff;
  box-shadow: none !important;
  border: 0.125rem solid #fed250;
  border-radius: 0.3rem;
  height: auto !important;
  text-transform: capitalize;
  position: relative;
}
.navbar .navbar-container .nav-wrapper #nav-2 li a {
  color: #303030 !important;
  font-weight: 600;
  font-size: 1.1rem !important;
}
.btn-flat:focus,
.btn-flat:hover {
  box-shadow: none;
}
nav ul a.btn-flat {
  margin-top: -2px;
  margin-left: 15px;
  margin-right: 15px;
}
.btn-flat {
  box-shadow: none;
  background-color: transparent;
  color: #343434;
  cursor: pointer;
  transition: background-color 0.2s;
  font-size: 14px;
  outline: 0;
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0 16px;
  text-transform: uppercase;
  vertical-align: middle;
}
.truncate {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.navbar .navbar-container .nav-wrapper #nav-2 .btn-flat span {
  font-size: 14px;
}

.navbar .navbar-container .nav-wrapper #nav-2 .nav-line {
  border-right: 0.0999rem solid #ddd;
  height: 1.5rem;
  margin-left: -0.5rem;
  margin-right: 0.25rem;
  cursor: default;
}

.navbar .navbar-container .nav-wrapper #nav-2 .btn-login {
  color: #666 !important;
  text-transform: initial;
  box-shadow: none;
  height: auto !important;
  margin-right: -0.5rem;
  transition: background-color 0.2sease-out;
  outline: 0;
  padding: 0.2px 19px;
  font-size: 14px !important;
  cursor: pointer;
}

.navbar .navbar-container .nav-wrapper #nav-2 .btn-signup {
  height: auto !important;
  background-color: #fed250;
  text-transform: initial;
  box-shadow: none;
  border-radius: 0.3rem;
  font-size: 14px !important;
  padding: 0.1rem 0.8rem;
}
.btn-signup {
  height: 32.4px;
  line-height: 32.4px;
  font-size: 13px;
  text-decoration: none;
  outline: 0;
  border: none;
  vertical-align: middle;
  text-align: center;
  letter-spacing: 0.5px;
  transition: background-color 0.2sease-out;
  cursor: pointer;
}

/* city modal css */

.city-modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;

  /* New styles */
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.city-modal-overlay.active {
  opacity: 1;
}

.city-modal-overlay .city-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.7);
  background-color: #f5f5f5;
  width: 95%;
  max-width: 850px;
  max-height: 90vh;
  border-radius: 10px;
  overflow: hidden;
  opacity: 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.city-modal-overlay.active .city-modal {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.city-modal-overlay .city-modal .city-modal-header {
  padding: 16px 20px;
  border-bottom: 1px solid #e6dddd;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.city-modal-overlay .city-modal .city-modal-header .city-modal-brand-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.city-modal-brand-logo {
  height: 45px;
}

.city-modal-overlay .city-modal .city-modal-header .city-modal-brand-container .city-modal-divider {
  height: 20px;
  width: 1px;
  background-color: #000;
}

.city-modal-overlay .city-modal .city-modal-header .city-modal-brand-container .city-modal-header-text {
  font-size: 16px;
  color: #333333;
  font-weight: 500;
}

.city-modal-overlay .city-modal .city-modal-header .city-modal-close-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
  color: #666;
  font-size: 35px;
  line-height: 1;
  position: absolute;
  right: 20px;
}

.city-modal-search-wrapper {
  padding: 15px 20px 15px 20px;
  border-bottom: 1px solid #e6dddd;
}

.city-modal-search-container {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
}

.city-modal-search-input {
  width: 100%;
  padding: 17px 12px 17px 40px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  color: #333;
}

.city-modal-search-input:focus {
  outline: none;
  border-color: #fdb605;
}

.city-modal-search-input::placeholder {
  color: #999;
}

.city-modal-search-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  color: #666;
}

.city-modal-clear-button {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #c3c2c2;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
}

.cities-container {
  padding: 20px;
  overflow-y: auto;
  max-height: calc(90vh - 140px);
}

.cities-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
}

.city-card {
  position: relative;
  aspect-ratio: 16/14;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.city-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.city-card:hover img {
  transform: scale(1.05);
}

.city-name {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 30px 16px 16px;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.7));
  color: white;
  font-size: 16px;
  font-weight: 500;
}

.city-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.city-card:hover {
  transform: scale(1.03);
  box-shadow: 0 0.25rem 1.875rem rgba(0, 0, 0, 0.5);
}

/* Remove the existing img hover transform */
.city-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.city-card:hover img {
  transform: none;
}

/* Hide scrollbar but keep functionality */
.cities-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.cities-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

/* Hero section*/

.hero-section {
  position: relative;
  top: 15px;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.hero-section .search-card {
  background: #fff;
  padding: 1.2rem 1.2rem 1.9rem 1.3rem;
  border-radius: 12px;
  width: 22rem;
  box-shadow: 0 15px 46px rgba(26, 26, 29, 0.3);
  z-index: 2;
}

.hero-section .search-card h2 {
  font-size: 26px;
  margin-bottom: 20px;
  font-weight: 700;
  color: #222;
}

.hero-section .form-group {
  margin-bottom: 35px;
}

.hero-section .form-group label {
  display: block;
  margin-bottom: 0.8rem;
  color: #222;
  font-size: 1.06rem;
  font-weight: 700;
}

.form-row {
  display: flex;
  gap: 10px;
}

input[type="date"],
input[type="time"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ebebeb;
  border-radius: 6px;
  font-size: 14px;
}

.search-button {
  width: 100%;
  padding: 12px;
  background: #fed250;
  border: none;
  font-size: 0.95rem;
  border-radius: 6px;
  color: #000;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s;
}

.search-button:hover {
  background: #fec51d;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Mobile screens */
@media (max-width: 760px) {
  .hero-image {
    content: url("https://d36g7qg6pk2cm7.cloudfront.net/assets/landing_page/banner/bangalore_jan_2025_mobile-4ff2ab4a435949147da68251e1c5de021a7f599f8fc5761470fe71880de2ab8a.webp");
  }
}

/* Tablet screens */
@media (min-width: 761px) and (max-width: 1020px) {
  .hero-image {
    content: url("https://d36g7qg6pk2cm7.cloudfront.net/assets/landing_page/banner/bangalore_jan_2025_tablet-eb4f753ab6bdbe08264ee8204faa4d19c7cd22933c52af4aea7a104dd2599397.webp");
  }
}

@media (max-width: 1020px) {
  .main-content {
    flex-direction: column;
    padding: 20px;
  }

  .search-card {
    width: 100% !important;
    padding: 0.8rem !important;
  }
  .hero-section .main-content {
    /* position: absolute !important;
        top: 50% !important;
        left: 6rem !important;
        transform: translateY( -50%); */
    display: flex;
    padding: 0px;
    gap: 40px;
    position: relative;
  }
}

@media (min-width: 1020px) {
  .main-content {
    flex-direction: column;
    padding: 20px;
  }

  .search-card {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }
  .hero-section .main-content {
    position: absolute !important;
    top: 50% !important;
    left: 6rem !important;
    transform: translateY(-50%);
    display: flex;
    padding: 40px;
    gap: 40px;
    position: relative;
  }
}

/*service section*/

.service-section .service-section-title h3 {
  position: relative;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  color: #222;
  margin-bottom: 40px;
  margin-top: 40px;
}
.service-section .service-section-title h3::after {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 8rem;
  height: 3px;
  margin-top: 10px;
  border-bottom: 3px solid #fed250;
}
.service-section .service-section-images {
  display: flex;
}
.service-section .service-section-images img {
  width: 100%;
  object-fit: cover;
}

@media (max-width: 1020px) {
  .service-section .service-section-images {
    flex-direction: column;
  }
  .service-section .service-section-images .for-desktop {
    display: none;
  }
}

@media (max-width: 760px) {
}

/* Tablet screens */
@media (min-width: 761px) and (max-width: 1020px) {
}

@media (min-width: 1020px) {
  .service-section .service-section-images .for-tablet {
    display: none;
  }
}

/* banner section */

.banner-section img {
  width: 100%;
  object-fit: cover;
}

@media (max-width: 1199px) {
  .banner-section img {
    content: url("https://d36g7qg6pk2cm7.cloudfront.net/assets/landing_page/7_days_offer_bangalore_tablet-01cde8d35818dba7fbc24af7b3f912030d93b64a0aea16124301cbbf62cdf127.webp");
  }
}

/*Section impact images*/

.impact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.impact-section .impact-section-heading {
  display: flex;
  justify-content: center;
  font-family: "Mulish", sans-serif;
  font-weight: 900;
  position: relative;
  top: 2rem;
  z-index: 3;
}

.impact-section .impact-section-heading span {
  color: rgba(254, 210, 80, 1);
  margin-left: 10px;
  font-family: "Mulish", sans-serif;
}
.impact-section .impact-section-heading p {
  font-family: "Mulish", sans-serif;
}
.impact-section .impact-image {
  object-fit: cover;
  text-align: center;
}

/* Large Desktop (1200px and up) */
@media screen and (min-width: 1200px) {
  .impact-section-heading {
    font-size: 3.5rem;
  }
  .impact-image {
    width: 80%;
  }
}

/* Desktop (992px to 1199px) */
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .impact-section-heading {
    font-size: 2.2rem;
  }
  .impact-image {
    width: 75%;
  }
}

/* Tablet (768px to 991px) */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .impact-section-heading {
    font-size: 2rem;
  }
  .impact-image {
    width: 85%;
  }
  .impact-section-heading {
    flex-direction: row;
    gap: 8px;
  }
}

/* Large Mobile (576px to 767px) */
@media screen and (min-width: 576px) and (max-width: 767px) {
  .impact-section-heading {
    font-size: 1.8rem;
    top: 1.5rem;
  }
  .impact-image {
    width: 90%;
  }
}

/* Small Mobile (575px and below) */
@media screen and (max-width: 575px) {
  .impact-section-heading {
    font-size: 1.5rem;
    top: 1.5rem !important;
  }
  .impact-image {
    width: 100%;
  }
}

/* featured section */

.featured-section {
  max-width: 1400px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.featured-section .featured-heading {
  text-align: center;
  font-weight: 700 !important;
  font-size: 1.7rem;
  margin-bottom: 30px;
}

.featured-section .featured-heading::after {
  content: "";
  display: block;
  width: 3.5rem;
  height: 3px;
  background: #fed250;
  margin: 0px auto;
}

.featured-section .carousel-container {
  position: relative;
  overflow: hidden;
  height: 100px;
  width: 100%;
  margin-top: 20px;
}

.featured-section .carousel-container .carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.carousel-item {
  flex: 0 0 350px;
  padding: 10px;
  height: 7.5rem;
  width: 25rem;
  border: 0.0625rem solid #efefef;
  border-radius: 0.5rem;
  box-sizing: border-box;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.8);
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.prev-button {
  left: 0;
}

.next-button {
  right: 0;
}

/* main footer */

.main-footer {
  background-color: #373737;
  color: #fff;
  /* padding: 20px; */
}

.main-footer .main-footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 2rem;
  justify-content: space-between;
  padding: 3.2em 5.5em 1.5em;
}

/* .main-footer .main-footer-container .box-one {
  width: 250px;
} */

@media screen and (min-width: 1200px) {
  .main-footer .main-footer-container .box-two {
    margin-left: 70px;
  }
  .main-footer .main-footer-container .box-three {
    margin-left: 30px;
  }
}

/* @media screen and (max-width: 764.64px) {
  .main-footer .main-footer-container {
    padding: 1.5em 5em;
  }
} */

@media screen and (max-width: 730px) {
  .main-footer .main-footer-container .box-one {
    grid-column: 1/3;
  }
}

@media screen and (max-width: 675px) {
  .main-footer .main-footer-container {
    grid-template-columns: repeat(2, 220px);
  }
}

@media screen and (max-width: 600px) {
  .main-footer .main-footer-container {
    padding: 1.5em 1.5em;
    grid-gap: 0.5rem;
  }
}

/* @media screen and (max-width: 520px) {
  .main-footer .main-footer-container {
    grid-template-columns: repeat(2, 200px);
  }
} */

@media screen and (max-width: 520px) {
  .main-footer .main-footer-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 520px) {
  .main-footer .main-footer-container .box-one {
    grid-column: 1/1;
  }
}

.main-footer .main-footer-container .boxes-heading {
  font-size: 0.8em;
  text-transform: uppercase;
  margin-bottom: 1.6em !important;
}
.main-footer .main-footer-container .boxes-heading::after {
  content: "";
  display: block;
  height: 0.15em;
  background-color: #fed250;
  width: 3.5em;
  margin-top: 0.5em;
}

.main-footer .main-footer-container ul {
  list-style: none;
  list-style-type: none;
  padding: 0;
}
.main-footer .main-footer-container ul li {
  margin-bottom: 1em;
  font-weight: 400;
  font-size: 0.8em;
  color: #ddd;
  align-items: center;
  display: flex;
}
.main-footer .main-footer-container ul li a {
  text-decoration: none;
  color: #ddd;
  align-items: center;
  display: flex;
}

.main-footer .main-footer-container ul li a span {
  background-color: #555555;
  border-radius: 0.3125em;
  padding: 0.25em 0.5em;
  margin-left: 0.5em;
}

.svg-icons-container {
  display: none;
}

.main-footer .main-footer-container .box-six li a {
  margin-right: -0.7rem;
}

.main-footer .main-footer-container img {
  width: 142px;
  height: 44px;
  margin-right: 2em;
}

/* sub footer */

.sub-footer-container {
  width: 100%;
  background-color: #444444;
  color: #fff;
  padding: 0.8rem 6rem;
  line-height: 1.6;
}

.sub-footer-container h1,
.sub-footer-container h2 {
  margin: 20px 0 18px;
  font-size: 25px;
  font-weight: 600;
  color: #fff;
}

.sub-footer-container p {
  margin-bottom: 18px;
  color: #ddd;
  font-size: 14px;
}

.sub-footer-container .presence {
  text-align: center;
  margin-top: 7px;
  padding-top: 7px;
}

.sub-footer-container .presence h2 {
  position: relative;
  display: inline-block;
  margin-bottom: 40px;
  font-size: 1.62rem;
  font-weight: 700;
}

.sub-footer-container .presence h2:after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 2.8rem;
  height: 0.25rem;
  background-color: #fed250;
}

.sub-footer-container .presence .locations {
  margin-top: 20px;
  font-size: 14px;
  color: #ddd;
}

.sub-footer-container .presence .locations a {
  color: #fff;
  margin: auto 7px;
  text-decoration: none;
  font-size: 14px;
}
.sub-footer-container .presence .locations span {
  color: #fff;
  margin: 0 5px;
}
@media screen and (max-width: 600px) {
  .sub-footer-container {
    padding: 1.5em 1.5em;
  }
}

/* last footer */

.banner {
  background-color: #1a1a1a;
  color: white;
  padding: 8px;
  text-align: center;
  font-family: Arial, sans-serif;
  width: 100%;
}
.heart {
  color: #ff3e3e;
  display: inline-block;
  animation: heartbeat 1.8s infinite;
}
.heart:hover {
  cursor: pointer;
  scale: 1.4;
  transition: all 0.8s ease-in-out;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
